{% extends "base.html" %}

{% block title %}Django Developer Coding Challenge{% endblock %}

{% block content %}
    <div class="container" style="max-width: 600px;">
        <div class="card" style="margin-top:150px;">
            <div class="card-header">
                <b>Django Developer Coding Challenge</b>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                        <strong>{% if message.tags %}{{ message.tags|title }}{% endif %}</strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-block">
                <form action="/" method="post">
                    <fieldset class="form-group">
                        {% csrf_token %}

                        {% comment %}
                        {{ form.as_p }}

                        Customize the form for bootstrap 4

                        {% endcomment %}

                        <div class="form-group">
                            <label class="form-control-label" for="{{ form.number.id_for_label }}">{{ form.number.label }}</label>
                            {{ form.number.errors }}
                            {{ form.number }}
                            {{ form.number.help_text|safe }}
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary center-block" type="submit">Convert</button>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
{% endblock %}