{% extends "base.html" %}

{% block title %}Weather Powered Email{% endblock %}

{% block content %}
    <div class="container" style="max-width: 600px;">
        <div class="card" style="margin-top:150px;">
            <div class="card-header">
                <b>Weather Powered Email</b>
            </div>
            {% include 'snippets/alerts.html' %}
            <div class="card-block">
                <form action="/" method="post">
                    <fieldset class="form-group">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="form-control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                            <input id="{{ form.email.id_for_label }}" maxlength="254" name="email" type="email" class="form-control" placeholder="{{ form.email.label }}">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                            <select class="form-control" name="{{ form.city.name }}" id="{{ form.city.id_for_label }}" placeholder="Where do you live?">
                                {% for instance in form.city.field.queryset %}
                                    <option value="{{ instance.pk }}">{{ instance.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary center-block" type="submit">Subscribe</button>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
